{% extends "AdobeEchosignBoxBundle::base.html.twig" %}

{% block title %}Sign the document{% endblock %}

{% block content %}
    <script type="text/javascript">
        /* see http://symfony.com/doc/current/reference/forms/types/collection.html#adding-and-removing-items */
        var recipientCount = "{{ form.emails.vars.value | keys | last + 1 }}";
        var ccsCount = "{{ form.ccs.vars.value | keys | last + 1 }}";
    </script>
    <script type="text/javascript" src="{{ assets }}/js/sign.js"></script>
    {{ form_start(form) }}
    <div class="page-content white-bg">
        <ol class="fields padding-bottom-0">
            <li>
                <div class="field-wrap hidden">
                    <ol class="recipients fields"
                        data-prototype="{{ form_widget(form.emails.vars.prototype, {"attr":{"class":"width-one-half left" }}) | e }} {{ form_widget(form.roles.vars.prototype, {"attr":{"class":"width-one-fourth left" }}) | e }}">
                        {% for i, recipient in form.emails %}
                            <li>
                                {% if form.emails[i] is defined %}
                                    <div class="field-wrap">
                                        {{ form_widget(form.emails[i], {"attr":{"class":"width-one-half left" }}) }}
                                        {{ form_widget(form.roles[i], {"attr":{"class":"width-one-fourth left" }}) }}
                                    </div>
                                {% endif %}
                            </li>
                        {% else %}
                            {{ form_widget(form.emails, {"attr":{"class":"width-one-half left" }}) }}
                            {{ form_widget(form.roles, {"attr":{"class":"width-one-fourth left" }}) }}
                        {% endfor %}
                    </ol>
                </div>
            </li>
            <li>
                <div class="label-wrap text-right">
                    <label for="recipientInput">*To:</label>
                    <a href="#" id="showCc">Show Cc</a>
                </div>
                <label for="recipientInput" class="input-pretend field-wrap">
                    <div id="recipientList">
                        <div id="dropdownMenu" class="hidden">
                            <div class="signer"><a class="role signer"></a> Signer</div>
                            <div class="approver"><a class="role approver"></a> Approver</div>
                        </div>
                    </div>
                    <input id="recipientInput" type="email" class="width-one-half left">
                </label>

                <div class="field-wrap">
                    {% for i, recipient in form.emails %}
                        {{ form_errors(form.emails[i], {"attr":{"class":"width-one-half left" }}) }}
                    {% else %}
                        {{ form_errors(form.emails, {"attr":{"class":"width-one-half left" }}) }}
                    {% endfor %}
                </div>
            </li>
            <li>
                <div class="field-wrap hidden">
                    <ol class="ccs fields"
                        data-prototype="{{ form_widget(form.ccs.vars.prototype, {"attr":{"class":"width-one-half left" }}) | e }} {{ "</div>" | e }}">
                        {% for cc in form.ccs %}
                            <li>
                                <div class="field-wrap">
                                    {{ form_widget(cc, {"attr":{"class":"width-one-half left" }}) }}
                                </div>
                            </li>
                        {% else %}
                            {{ form_widget(form.ccs, {"attr":{"class":"width-one-half left" }}) }}
                        {% endfor %}
                    </ol>
                </div>
            </li>
            <li id="ccFields" class="hidden">
                <div class="label-wrap text-right">
                    <label for="ccInput">Cc:</label>
                </div>
                <label for="ccInput" class="input-pretend field-wrap">
                    <div id="ccList">
                    </div>
                    <input id="ccInput" type="email" class="width-one-half left">
                </label>

                <div class="field-wrap">
                    {% for cc in form.ccs %}
                        {{ form_errors(cc, {"attr":{"class":"width-one-half left" }}) }}
                    {% else %}
                        {{ form_errors(form.ccs, {"attr":{"class":"width-one-half left" }}) }}
                    {% endfor %}
                </div>
            </li>
            <li>
                <div class="label-wrap text-right">
                    {{ form_label(form.name) }}
                </div>
                <div class="field-wrap">
                    {{ form_widget(form.name, {"attr":{"class":"width-full" }}) }}
                </div>
                <div class="field-wrap">
                    {{ form_errors(form.name) }}
                </div>
            </li>
            <li>
                <div class="label-wrap text-right">
                    {{ form_label(form.locale) }}
                </div>
                <div class="field-wrap">
                    {{ form_widget(form.locale, {"attr":{"class":"width-one-half" }}) }}
                </div>
                <div class="field-wrap">
                    {{ form_errors(form.locale) }}
                </div>
            </li>
            <li>
                <div class="label-wrap text-right">
                    *Destination folder:
                </div>
                <div class="field-wrap folders-widget">
                    {{ form_widget(form.boxFolder, {"attr":{"class":"width-one-half" }}) }}
                </div>
                <div class="field-wrap folders-widget-errors">
                    {{ form_errors(form.boxFolder) }}
                </div>
            </li>
        </ol>
    </div>
    {% if fileName is defined %}
        <div class="page-content">
            <p class="padding-bottom-0"><img height="16" src="{{ assets }}/icons/{{ fileExt }}.png"> {{ fileName }}</p>
        </div>
    {% endif %}
    <div class="page-content white-bg cf">
        <div class="hidden">{{ form_widget(form.signatureFlow) }}</div>
        <div class="one-half">
            <label class="cf big">
                <input type="checkbox" id="addMySignature" class="big left" value="1">
                I need to add my signature to this document
            </label>

            <div id="signatureFlow">
                <p>
                    <span></span>
                    <a href="javascript:void(null)" id="changeSignatureFlow">Change Order</a>
                </p>
            </div>
        </div>
        <div class="one-half last">
            <label class="cf big">
                {{ form_widget(form.verifyWithPassword, {"attr":{"class":"big left" }}) }}
                Verify signer identity using a password
            </label>
            <label class="cf big">
                {{ form_widget(form.protectOpen, {"attr":{"class":"big left" }}) }}
                Password protect the signed document
            </label>

            <div id="passwords">
                <p></p>

                <div class="cf">
                    <label for="sign_password">Password:</label>
                    {{ form_widget(form.password, {"attr":{"class":"width-one-half left" }}) }}
                    {{ form_errors(form.password) }}
                </div>
                <div class="cf">
                    <label for="sign_passwordVerify">Confirm password:</label>
                    {{ form_widget(form.passwordConfirm, {"attr":{"class":"width-one-half left" }}) }}
                    {{ form_errors(form.passwordConfirm) }}
                </div>
            </div>
        </div>
        <div class="clear">
            <input type="submit" class="green button mega" value="Send">
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}
