{% extends "AdobeEchosignBoxBundle::base.html.twig" %}

{% block title %}eSign the document{% endblock %}
{% block meta %}
<meta http-equiv="X-UA-Compatible" content="IE=7">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
<![endif]-->
{% endblock meta %}

{% block content %}
{{ js | raw }}
<div id="windowCloser">
  <input type="submit" id="closeWindow" class="blue" value="Close" onclick="top.window.close();">
</div>
{% endblock content %}
