{% block box_folder_widget %}
    {% spaceless %}
        <style>
            #jstree ul li {
                display: block;
                padding: 0;
                margin-top: -4px;
                color: black
            }
        </style>
        <div id="jstree"></div>
        {{ block('hidden_widget') }}
        <script>
            var id = '#' + '{{ form.vars.id }}';
            var input = $(id);
            document.ready = function() {
                $('#jstree').jstree({
                'core' : {
                    "multiple" : false,
                    "themes" : { "stripes" : false },
                    'data' : {
                        'url' : function (node) {
                            return '{{ path('ajax_node_children') }}';
                        },
                        'data' : function (node) {
                            console.log(node);
                            return node.id === '#' ?
                                    { 'folderId' : 0 } :
                                    { 'folderId' : node.id };
                        }
                    }
                },
                "plugins" : [ "wholerow" ]
                });
                $('#jstree').on("changed.jstree", function (e, data) {
                    input.val(data.selected[0]);
                    $('.folders-widget-errors').remove();
                });
            };
        </script>
    {% endspaceless %}
{% endblock %}