.hidden { display: none; }
.clear { clear: both; }

.logo h1 { margin: 15px 0; }
.page-header .account ul { margin-top: 23px; }

#add-cc { position: relative; top: -4px; }

ol.recipients, ol.ccs { padding-bottom: 0; }
ol.recipients .field-wrap, ol.ccs .field-wrap { margin-left: 0; }

.page-content ul { list-style: none; margin: 0; padding: 5px 0; clear: both; }
.page-content ul li { display: inline; padding: 3px 5px; background: #f99; color: #900; }

label.big { margin-bottom: 10px; font-size: 16px; }
input.big { width: 16px; height: 16px; }

#passwords, #signatureFlow { display: none; padding: 0 0 0 20px; }
#passwords p { font-size: 14px; }
#passwords div { clear: both; margin-bottom: 5px; }
#passwords label { display: block; clear: left; float: left !important; width: 30%; line-height: 25px; vertical-align: middle; font-weight: bold; }

#flash-error, #flash-success { display: block; clear: both; cursor: pointer; margin: 10px auto; padding: 0 30px; width: 830px; border-radius: 5px; background: #9f9 url("images/bg-success.png") top no-repeat; color: #090; text-align: center; font-weight: bold; }
#flash-error { background: #f99 url("images/bg-error.png") top no-repeat; color: #900; }
#flash-error div, #flash-success div { cursor: default; margin-left: -30px; padding: 5px 0 5px 30px; }

#changeSignatureFlow {
  width: 100px; height: 14px; cursor: pointer;
  margin: 5px 0 0 15px; display: inline-block;
  border-radius: 14px; padding: 0 0 5px 0;
  background-color: #0794cd;
  border: 1px solid #05729d;
  text-shadow: 0 -1px 0 #05729d;
  background: -webkit-gradient(linear, left top, left bottom, from(#cdf), color-stop(.05, #0794cd), to(#05729d));
  color: #fff; font-size: 11px; font-weight: bold;
  text-align: center;
}

#windowCloser {
  clear: both; text-align: right;
  padding-bottom: 20px;
}

#dropdownMenu {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
}
#dropdownMenu div { cursor: pointer }

.to {
  display: block; float: left;
  margin: 2px; padding: 2px;
  border-radius: 4px; border: 1px solid #ccc;
  background: #eee; color: #444;
}
.to a { cursor: pointer; }
.to .remove {
  background: url('images/icon-delete.png') no-repeat left;
  display: inline-block; padding: 0 2px 0 0; margin-left: 2px; min-height: 16px;
  vertical-align: middle; width: 14px; border-right: 1px solid #ccc;
}
.role, .to .dropdown {
  display: inline-block; padding: 0 2px 0 0; margin-left: 2px; min-height: 16px;
  vertical-align: middle; width: 14px;
}
.role.signer {
  background: url('images/icon-signer.png') no-repeat left;
}
.role.approver {
  background: url('images/icon-approver.png') no-repeat left;
}
.to .email {
  display: inline-block; padding: 0 3px;
  max-width: 300px; overflow: hidden; text-overflow: ellipsis;
  vertical-align: middle; white-space: nowrap;
  font-size: 12px;
}
.to .dropdown {
  background: url('images/icon-dropdown.png') no-repeat left;
}

.input-pretend {
  border: 1px solid #ccc;
}
#recipientInput, #ccInput {
  border: 0; margin-top: 2px;
}
