@charset "UTF-8";
/* ==========================================================================
   Stylesheet For Custom Elements On All Pages
   ========================================================================== */

   
/* General Rules
   ========================================================================== */
html, body {
	height: 100%;
}

.page-wrap {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px 0px -76px 0px;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 890px;
}

.inner iframe {
    min-width: 950px;
}


/* Page Header
   ========================================================================== */
.page-header {
	background: url('images/page-header.png') repeat-x left top #2576b4;
	border-bottom: 1px solid #055999;
	color: #fff;
	position: relative;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
}

.page-header a {
	color: #fff;
}

.page-header a:hover {
	color: #b5e2fa;
}

.page-header .logo {
	float: left;
	width: 265px;
}

.logo h1 {
	background: url('images/logo.png') no-repeat left top;
	border: 0;
	color: transparent;
	font-size: 0;
	line-height: 0;
	margin-top: 17px;
	height: 35px;
	width: 193px;
	padding: 0;
	text-shadow: none;
}

.page-header .nav-primary {
	float: left;
	width: 325px;
}

.page-header .account ul,
.page-header .nav-primary ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.page-header .account li,
.page-header .nav-primary li {
	float: left;
}

.page-header .nav-primary a {
	font-size: 14px;
	line-height: 1.3em;
	color: #b5e2fa;
	display: block;
	padding: 15px 18px;
	text-decoration: none;
	text-shadow: 1px 1px #055999;
}

.page-header .nav-primary .active a,
.page-header .nav-primary a:hover {
	background-color: #1d77bc;
	-webkit-box-shadow: 0 3px 10px -5px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 3px 10px -5px rgba(0,0,0,0.2) inset;
	box-shadow: 0 3px 10px -5px rgba(0,0,0,0.2) inset;
}

.page-header .nav-primary a.one-liner {
	padding-top: 22px;
	padding-bottom: 22px;
}

.page-header .nav-primary a.sign-in,
.page-header .nav-primary a.register {
	background-repeat: no-repeat;
	background-position: 15px 22px;
	padding-left: 38px;
}

.page-header .nav-primary a.sign-in { background-image: url('images/icon-signin.png'); }
.page-header .nav-primary a.register { background-image: url('images/icon-register.png'); background-position: 8px 22px; }

.page-header .nav-primary a strong {
	font-size: 15px;
	color: #fff;
	display: block;
}

.page-header .account ul {
	float: right;
	margin-top: 8px;
}

.page-header .account li {
	padding: 0 8px;
}

.page-header .account li.first {
	padding-right: 10px;
}

.page-header .account li:last-child {
	padding-right: 0;
}

.page-header .account li:not([class^=first])+li {
	border-left: 1px solid #fff;
}

.page-header .account a {
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
}

.page-header .account .access {
	background: url('images/lock.png') no-repeat left top;
	padding-left: 18px;
}


/* Page Container
   ========================================================================== */
.page-container {
	background: url('images/page-container.png') repeat-x left top;
	padding-top: 30px;
	min-height: 165px;
}

.page-container > .inner {
	padding-bottom: 76px;
	overflow-y: hidden;
}

.page-content {
	background: #edf2f6;
	margin-bottom: 20px;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.page-content.white-bg {
	background: #fff;
}


/* Page Footer
   ========================================================================== */
.page-footer {
	background: url('images/page-footer.png') repeat-x left top;
	border-top: 1px solid #b1b1b1;
	padding: 28px 0;
    height: 19px;
}


/* Reusable Elements
   ========================================================================== */
.icon-add,
.icon-delete {
	background: url('images/icon-delete.png') no-repeat left 5px;
	display: inline-block;
	padding: 4px 17px;
	min-height: 16px;
	vertical-align: middle;
}

.icon-add {
	background: url('images/icon-add.png') no-repeat left 5px;
}

.document-pdf {
	background: url('images/icon-pdf.png') no-repeat left 5px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	padding: 13px 0 13px 40px;
}

.document-pdf:hover {
	color: #1a74ba;
}


/* Layout Elements
   ========================================================================== */
.one-half {
	float: left;
	margin-right: 6%;
	width: 47%;
}

.one-half.last {
	margin-right: 0;
}

/* Reusable Styles
   ========================================================================== */
.text-right { text-align: right; }
.width-full { width: 100%; }
.width-one-half { width: 50%; }
.width-one-fourth { width: 25%; }
.width-three-fourth { width: 75%; }
.padding-bottom-0 { padding-bottom: 0; }
.left { float: left !important; }
.right { float: right !important; }


/* Clearfix
   ========================================================================== */
.cf:before,
.cf:after,
.page-header:before,
.page-header:after {
    content: " ";
    display: table;
}

.cf:after,
.page-header:after {
    clear: both;
}