{% set assets = "/assets/box" %}
{% block doctype %}<!DOCTYPE html>{% endblock %}
<html lang="en">
<head>
    <script type="text/javascript" src="{{ assets }}/js/jquery.js"></script>
</head>
<body>
    <script>
        window.onload = function() {
            var host = '{{ redirect_url|raw }}';
            function windowOpener(windowUri, windowName, windowWidth, windowHeight)
            {
                var centerWidth=(window.screen.width-windowWidth)/2;
                var centerHeight=(window.screen.height-windowHeight)/2;
                var newWindow=window.open(windowUri,windowName, "width="+windowWidth+", height="+windowHeight);
                newWindow.moveTo(centerWidth,centerHeight);
                newWindow.blur();
                newWindow.focus();
                return newWindow.name;
            }
            var width = 897;
            var height = 835;
            if (window.chrome) {
                width += 17;
                height += 60;
            }
            windowOpener(host,'EchoSign with Adobe EchoSign', width, height);
            window.close();
            parent.window.close();
            top.window.close();
        };
    </script>
</body>
</html>